html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    height: 83px;
    background-color: #1a1a1a;
    color: white;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 2px solid #5cf96b;
}

.container {
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: block;
    float: left;
    line-height: 83px;
    font-size: 25px;
    font-weight: bold;
}

.logo:hover {
    color: #07bc1d;
}

.normal-nav {
    display: none;
    float: right;
    font-weight: bold;
    font-size: 12px;
}

.normal-nav ul li {
    display: inline;
    line-height: 83px;
    margin-left: 26px;
    margin-right: 26px;
}

.normal-nav ul li a:hover {
    color: #5cf96b;
}

.normal-nav ul li a.on {
    color: #5cf96b;
}

.hamburger-menu {
    width:97%;
    margin-right: 26px;
    font-size: 50px;
    padding-top: 15px;
    position: relative;
}

.hamburger-menu:hover .hamburger-menu-list {
    display: block;
}

.hamburger-icon {
    float: right;
    padding-bottom: 22px;
}

.hamburger-icon:hover {
    color: #5cf96b;
    cursor: pointer;
}

.hamburger-menu-list {
    display: none;
    position: absolute;
    background-color: #1a1a1a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 85px;
    width: 103%;
    border-bottom: 2px solid #5cf96b
}

.hamburger-menu-list li a {
    font-size: 16px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
}

.hamburger-menu-list ul li a:hover {
    color: #5cf96b;
}

.hamburger-menu-list ul li a.on {
    color: #5cf96b;
}

.clear {
    clear: both;
}

header a {
    color: white;
    text-decoration: none;
}

@media (max-width: 960px) {
    .logo {
        margin-left: 26px;
    }    
}

@media (min-width: 576px) {
    .normal-nav {
        display: block;
    }
    
    .hamburger-menu {
        display: none;
    }
}


main.billboard {
    height: 342px;
    background-color: #636363;
    text-align: center;
    padding-top: 50px;
    border-bottom: 2px solid #5cf96b;
}

main.billboard h1 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    line-height: 60px
}

main.billboard h2 {
    font-size: 20px;
    color: #bbbbbb;
    font-weight: lighter;
    margin-top: 20px;
}

.button {
    display: block;
    width: 163px;
    height: 40px;
    background-color: #07bc1d;
    font-size: 14px;
    font-weight: bolder;
    color: white;
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 40px;
}

@media (min-width: 960px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 576px) {
    main.billboard h1 {
        font-size: 50px;
        line-height: 65px;
        font-weight: lighter;
    }
    
    main.billboard h2 {
        font-size: 30px;
    }


}


.content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

div.content ul li {
    display: block;
    text-align: center;
    padding-left: 22.5px;
    padding-right: 22.5px;
    padding-bottom: 50px;
    width: 80%;
    margin: auto;
}

.content-heading {
    font-size: 20px;
    font-weight: bold;
    color: #636363;
    margin-top: 25px;
    margin-bottom: 20px;
}

.content-note {
    font-size: 14px;
    color: #7a7a7a;
    line-height: 25px;
}

@media (min-width: 960px) {
    .content {
        width: 960px;
    }

    div.content ul li {
        width: 275px;
        float: left;    
    }
}


footer {
    height: 245px;
    background-color: #1a1a1a;
}

footer div.footer-container {
    margin-left: auto;
    margin-right:auto;
    padding-top: 10px;
    color: white;
    text-align: center;
}
.footer-container h2 {
    font-size: 24px;
    font-weight: bold;
    color: #dcdcdc;
    margin-top: 25px;
    margin-bottom: 25px;
}

.footer-container h4 {
    font-weight: lighter;
    color: #7a7a7a;
    margin-bottom: 20px;
    line-height: 25px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 420px) {
    footer div.footer-container {
        padding-top: 20px;
    }    
}

@media (min-width: 960px) {
    footer div.footer-container {
        width: 960px;
    }

    .footer-container h4 {
        width: 658px;
        font-size: 18px;
        margin-bottom: 25px;
    }
}


.about .about-container {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.about .about-container h2 {
    text-align: center;
    font-size: 35px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #1a1a1a;
}

.about-image {
    text-align: center;
    margin-bottom: 20px;
}

.about-text {
    width: 80%;
    margin: auto;
}

.about-text p {
    font-size: 16px;
    font-weight: lighter;
    line-height: 25px;
    color: #1a1a1a;
    text-align: justify;
}

@media (min-width: 960px) {
    .about .about-container {
        width: 900px;
        margin-bottom: 150px;
    }
    
    .about .about-container h2 {
        margin-top: 95px;
        margin-bottom: 80px;    
    }

    .about-image {
        width: 380px;
        float: left;    
    }

    .about-text {
        float: left;
        width: 520px;
    }
    

}

.contact .contact-container,
.blog .blog-container {
    margin-left: auto;
    margin-right: auto;
}

.contact .contact-container h2,
.blog .blog-container h2 {
    text-align: center;
    font-size: 35px;
    font-weight: normal;
    color: #1a1a1a;
    margin: 40px 0 40px 0;
}

form {
    display: inline-block;
}

.contact-form {
    text-align: center;
    margin-bottom: 40px;    
}

.contact-form form p input {
    width: 300px;
    height: 33px;
    padding-left: 5px;
    margin-bottom: 18px;
    border: 1px solid #cccccc
}

.contact-form form p textarea {
    width: 300px;
    height: 90px;
    padding-left: 5px;
    padding-top: 5px;
    margin-bottom: 18px;
    border: 1px solid #cccccc
}

.contact-form form input.contact-button {
    width: 170px;
    height: 40px;
    background-color: #353535;
    color: white;
    font-weight: bold;
}

.contact-form form input.disabled {
    background-color: gray;
}

.invalid-input {
    border: 1px solid red !important;
}

.contact-map {
    border-top: 1px solid #4f4f4f;
}

@media (min-width: 960px) {
    .contact .contact-container h2 {
        margin-bottom: 80px;
    }
    
    .contact .contact-container {
        margin-top: 115px;
        margin-bottom: 104px;
        width: 680px;
    }

    .contact-form {
        width: 305px;
        float: left;
        margin-bottom: 0px;
    }

    .contact-map {
        width: 330px;
        height: 264px;
        float: right;
        border: 1px solid #4f4f4f;
    }
}

.settings .settings-container{
    margin-top: 115px;
    margin-bottom: 104px;
    width: 680px;
    margin-left: auto;
    margin-right: auto;
}

.settings .settings-container h2 {
    text-align: center;
    font-size: 35px;
    font-weight: normal;
    color: #1a1a1a;
    margin: 40px 0 40px 0;
}

.settings .settings-container p {
    text-align: center;
}

.settings-container .settings-group {
    padding-bottom: 20px;
}

.settings-container .btn-group {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.btn-group .color-change-btn {
    padding: 10px 20px;
    margin: 5px;
    background-color: black;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #5cf96b;
}



html, body {
    height: 100%;
}

#main-container {
    min-height: 100%;
}

#main-content {
    overflow: auto;
}


#footer {
    position: relative;
    height: 260px;
    clear: both;
    border-top: 2px solid #5cf96b;
}

@media (min-width: 960px) {
    #main-content {
        padding-bottom: 245px;  
    }

    #footer {
        margin-top: -245px;
    }
}

.mobile-no {
    color: #07bc1d;
}

.rotating-img {
    transform:rotate(0);  
    transition:all 1.5s;
}


.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 2px solid #5cf96b;
    width: 60%;
}
  
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

#surveyForm {
    background-color: #ffffff;
    margin: 30px auto 0;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}
  
.form-heading {
    text-align: center;
    margin-bottom: 25px;
}

.form-modal {
    display: block;
}

.form-modal .modal-input {
    margin: 15px 0;
}

.modal-input input {
    padding: 10px 0;
    width: 100%;
    border: 1px solid #aaaaaa;
}

.modal-steps {
    text-align:center;
    margin-top:40px;
}
  
input.invalid {
    background-color: #ffdddd;
}
  
.tab {
    display: none;
}

.modal-button-container {
    overflow:auto;
}

.modal-button-wrapper {
    float:right;
}

.modal-button {
    background-color: #07bc1d;
    color: #ffffff;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    
}

.modal-button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}
  
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #4CAF50;
}

.share-buttons {
    padding-top: 10px;
}

.share-buttons .fb-share-button {
    bottom: 2px;
}